header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  .upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.8rem;
    padding: 0 1rem;
    background-color: white;
    .logo {
      font-size: 2rem;
    }
    .icons {
      display: flex;
      gap: 0.6rem;
      .icon {
        fill: black;
        height: 1.6rem;
      }
    }
  }
  .lower-header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: black;
    height: 2.8rem;
    padding: 0 1rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
